// ----- theme
$primary: rgb(2, 83, 20) !default;
$primary-light: rgb(125, 218, 1) !default;

// ----- fonts
$font-family-base: Georgia, 'Times New Roman', Times, serif !default;

$padding-top: 20px !default;
